// Place all the styles related to the administrators::items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  width: 200px;
  // background-color: rgba(210,105,30,0.4);
  text-align: center;
  padding: 8px;
}

.name-form {
  margin-left: 10px;
}