<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-8">
    <h2>配送先登録/一覧</h2>
    <div class="address-create">
      <%= render partial: 'customer/addresses/form', locals: { address: @address } %>
    </div>
  </div>
  <div class="col-xs-8">
    <div id="addresses_area">
      <%= render partial: 'customer/addresses/index', locals: { addresses: @addresses } %>
    </div>
  </div>
</div>