<div class="row">
  <div class="col-xs-12">
    <h2>ショッピングカート</h2>
    <%= link_to "カートを空にする", customers_cart_items_path, method: :delete, data: { confirm: 'カートを空にしますか?' }, class: "btn-sm btn-danger" %>
    <div id="items">
      <%= render partial: 'item_each', locals: { cart_items: @cart_items} %>
    </div>
    <div class="col-xs-12">
      <div class="text-left">
        <%= link_to "買い物を続ける", items_path, class:"btn btn-primary btn-sm" %>
      </div>
    </div>
    <div class="text-center">
      <%= link_to "情報入力に進む", new_customers_order_path, data: { confirm: '買い物は以上ですか?' }, class: "btn-sm btn-success" %>
    </div>
  </div>
</div>
